<a href="https://colab.research.google.com/github/Goutham1812/Goutham1812/blob/Python/OOPS_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Creating the First class

class Phone:

  def  make_call(self):
    print("making a call")                            # Creating a Phone class

  def play_game(self):
    print("playing game")


p1= Phone()                                            #instating that p1= Phone()



#Invoking the methods through object                   #using the assigned names to call the functions with dot operator like p1.inside value to retrive the data

p1.make_call()

making a call

In [4]:
p1.play_game()

playing game

In [5]:
#
#

In [6]:
#

In [7]:
#

In [27]:
#creating a class with constructor

#  init acts as a constructor

class Employee:
     def __init__(self, name, age, salary, gender):
         self.name = name
         self.age = age
         self.salary = salary
         self.gender = gender
     def show_details(self):                                                            #Creating the attributes
         print("The Name of Employee is ",self.name)
         print("The age of Employee is",self.age)
         print("Salary of Employee is",self.salary)
         print("Gender of Employee is",self.gender)

#Creating the object/ details of employee with values

e1 = Employee("Goutham", 25, 35000, "Male")

e1.show_details()

The Name of Employee is  Goutham
The age of Employee is 25
Salary of Employee is 35000
Gender of Employee is Male

In [29]:
# inheritance in python

class Vehicle:
  def __init__(self, milage,cost):
    self.milage=milage
    self.cost=cost
  def show_details(self):
    print("I am a vehicle")
    print("milage of vehicle is",self.milage)
    print("cost of the vehicle is",self.cost)

In [31]:
v1 = Vehicle(50,1500)
v1.show_details()

I am a vehicle
milage of vehicle is 50
cost of the vehicle is 1500

In [32]:
class car(Vehicle):
  def show_car_details(self):
    print("I am a car")

In [34]:
c1=car(26,28000)
c1.show_details()

I am a vehicle
milage of vehicle is 26
cost of the vehicle is 28000

In [37]:
# over riding  init method

class car(Vehicle):
  def __init__(self,milage,cost,tyres,hp):
    super().__init__(milage,cost)                         ####he super() function in Python is used to call a method from the parent class.
    self.tyres = tyres
    self.hp =hp

  def show_car_details(self):
    print("I am a car")
    print("Number of Tyres",self.tyres)
    print("Horse Power Value",self.hp)

In [39]:
c1=car(20,2560000,4,350)
c1.show_details()

I am a vehicle
milage of vehicle is 20
cost of the vehicle is 2560000

In [41]:
c1.show_car_details()

I am a car
Number of Tyres 4
Horse Power Value 350

In [43]:
#  Example of inheritance with parent, child and super clause




class Parent:
    def __init__(self, name):
        self.name = name

    def display_info(self):
        print("Name:", self.name)


class Child(Parent):
    def __init__(self, name, age):
        super().__init__(name)
        self.age = age

    def display_info(self):
        super().display_info()  # Call the display_info method from the parent class
        print("Age:", self.age)


# Creating an instance of the Child class
child_obj = Child("John", 25)

# Calling the display_info method of the Child class
child_obj.display_info()

Name: John
Age: 25